<div>
  <a href="https://prnt.sc/8fJxizi90GSg">Characters and episodes header</a>
</div>
<header class="header">
  <div class="container header-container">
    <img class="header-logo" src="./img/header-hero/logo.png" alt="logo" />
    <form class="header-form">
      <input
        class="btn-dark-bg header-input"
        type="text"
        placeholder="Search"
      />
      <button class="header-search-btn" type="submit">
        <svg class="header-icon">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
