<div class="gallery"><a href="https://prnt.sc/uLgP2na9iVtR">Charactest gallery</a>
    <div class="search-btns">
        <div class="gallery-btn hidden">
            <!-- <label>Name</label> -->
            <form class="search-form" id="search-form">
                <input
                type="text"
                name="searchQuery"
                autocomplete="off"
                placeholder="Enter name ">
                <button type="submit">
                <svg class="search-icon" width="18" height="18">
                    <use href="./images/sprite.svg#search-icon"></use>
                </svg>
                </button>
            </form>
        </div>
        <div class="dropdown">
            <button 
            class="dropdown-toggle" 
            data-dd-target="first" 
            aria-label="Chose status"
            placeholder="Chose status">
            </button>
            <a class="dropdown-menu" href="#">Alive</a>
            <a class="dropdown-menu__link" href="#">Dead</a>
            <a class="dropdown-menu__link" href="#">Unknown</a>
            <a class="dropdown-menu__link" href="#">---</a>
        </div>
        <div class="dropdown">
            <button 
            class="dropdown-toggle" 
            data-dd-target="first" 
            aria-label="Chose species"
            placeholder="Chose species">
            </button>
            <a class="dropdown-menu" href="#">Human</a>
            <a class="dropdown-menu__link" href="#">Alien</a>
            <a class="dropdown-menu__link" href="#">Mythological Creature</a>
            <a class="dropdown-menu__link" href="#">Humanoid</a>
            <a class="dropdown-menu__link" href="#">Animal</a>
            <a class="dropdown-menu__link" href="#">Cronenberg</a>
            <a class="dropdown-menu__link" href="#">Poopybutthole</a>
            <a class="dropdown-menu__link" href="#">Robot</a>
            <a class="dropdown-menu__link" href="#">Disease</a>
            <a class="dropdown-menu__link" href="#">---</a>
        </div>
        <div class="dropdown">
            <button 
            class="dropdown-toggle" 
            data-dd-target="first" 
            aria-label="Chose type"
            placeholder="Chose type">
            </button>
            <a class="dropdown-menu" href="#">Parasite</a>
            <a class="dropdown-menu__link" href="#">Human with ant...</a>
            <a class="dropdown-menu__link" href="#">Superhuman</a>
            <a class="dropdown-menu__link" href="#">Genetic...</a>
            <a class="dropdown-menu__link" href="#">Fish person</a>
            <a class="dropdown-menu__link" href="#">Cromulon</a>
            <a class="dropdown-menu__link" href="#">---</a>
        </div>
        <div class="dropdown">
            <button 
            class="dropdown-toggle" 
            data-dd-target="first" 
            aria-label="Chose gender"
            placeholder="Chose gender">
            </button>
            <a class="dropdown-menu" href="#">All</a>
            <a class="dropdown-menu__link" href="#">Female</a>
            <a class="dropdown-menu__link" href="#">Male</a>
            <a class="dropdown-menu__link" href="#">Genderless</a>
            <a class="dropdown-menu__link" href="#">Unknown</a>
            <a class="dropdown-menu__link" href="#">---</a>
        </div>
    </div>
</div>