<header class="header-char-epis">
  <div class="container header-container">
    <a href="index.html"
      ><img class="header-logo" src="./img/header-hero/logo.png" alt="logo"
    /></a>
    <form class="header-form" id="episodes-search-form">
      <input
        class="btn-dark-bg header-input"
        type="text"
        placeholder="Search"
        id="episodes-search-input"
      />
      <button class="header-search-btn" type="submit">
        <svg class="header-icon">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
