<section class="hero-gallery">
  <div class="container gallery-container">
    <ul class="dropdown-filter">
      <li class="dropdown-filter input-wrapper">
        <p class="text-about">Name</p>
        <input
          placeholder="Enter name"
          class="characters-search input-green"
          type="text"
        />
      </li>
      <li class="dropdown-item">
        <p class="text-about">Status</p>
        <div class="dropdown-tag">
          <button
            class="dropdown-btn input-white"
            name="status"
            id="status-select"
            data-path="status"
          >
            All
          </button>
          <ul class="dropdown-list" data-target="status">
            <li class="drop-down-point" value="all">All</li>
            <li class="drop-down-point" value="alive">Alive</li>
            <li class="drop-down-point" value="dead">Dead</li>
            <li class="drop-down-point" value="unknow">Unknow</li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Species</p>
        <div class="dropdown-tag">
          <button
            class="dropdown-btn input-white"
            name="species"
            id="species-select"
            data-path="species"
          >
            All
          </button>
          <ul class="dropdown-list" data-target="species">
            <li class="drop-down-point" value="all">All</li>
            <li class="drop-down-point" value="human">Human</li>
            <li class="drop-down-point" value="alien">Alien</li>
            <li class="drop-down-point" value="humanoid">Humanoid</li>
            <li class="drop-down-point" value="animal">Animal</li>
            <li class="drop-down-point" value="robot">Robot</li>
            <li class="drop-down-point" value="cronenberg">Cronenberg</li>
            <li class="drop-down-point" value="disease">Disease</li>
            <li class="drop-down-point" value="poopybutthole">Poopybutthole</li>
            <li class="drop-down-point" value="mythological">
              Mythological creature
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Type</p>
        <div class="dropdown-tag">
          <button
            class="dropdown-btn input-white"
            name="type"
            id="type-select"
            data-path="type"
          >
            All
          </button>
          <ul class="dropdown-list" data-target="type">
            <li class="drop-down-point" value="all">All</li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Gender</p>
        <div class="dropdown-tag">
          <button
            class="dropdown-btn input-white"
            name="gender"
            id="gender-select"
            data-path="gender"
          >
            All
          </button>
          <ul class="dropdown-list" data-target="gender">
            <li class="drop-down-point" value="all">All</li>
            <li class="drop-down-point" value="male">Male</li>
            <li class="drop-down-point" value="female">Female</li>
            <li class="drop-down-point" value="genderless">Genderless</li>
            <li class="drop-down-point" value="unknown">Unknown</li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="gallery gallery-cards hero-gallery"></ul>
    <button class="load-more-btn btn-green" type="button">Load More</button>
  </div>
</section>
