<div class="gallery">
    <form >
      <input
        class="search__input"
        type="text"
        name="search"
        placeholder="Search for a character">
      <button class="submit__button" type="submit">Test</button>
    </form>
  </div>
<div class="search__btns">

  <div class="gallery-btn">
    <li class="gallery-search__form">
        <p class="btn-text">Enter name </p>
        <svg id="search-icon" class="search" width="18" height="18">
            <use href="../img/symbol-defs.svg#icon-search"></use>
        </svg>
    </li>
    <ul class="gallery-btns-flex-wrap">
        <li class="gallery-btn dropdown-toggle status">
            <p class="btn-text">Chose status </p>
            <svg class="icon-chevron-down" width="18" height="18" viewBox="0 0 18 18">
                <use href="../img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
            <ul class="dropdown-content hidden">
                <li><a class="dropdown-menu" href="#">Alive</a></li>
                <li><a class="dropdown-menu__link" href="#">Dead</a></li>
                <li><a class="dropdown-menu__link" href="#">Unknown</a></li>
                <li><a class="dropdown-menu__link" href="#">---</a></li> 
            </ul>
        </li>
        <li class="gallery-btn dropdown-toggle species">
            <p class="btn-text">Chose species </p>
            <svg class="icon-chevron-down" width="18" height="18" viewBox="0 0 18 18">
                <use href="../img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
            <ul class="dropdown-content hidden">
                <li><a class="dropdown-menu" href="#">Human</a></li>
                <li><a class="dropdown-menu__link" href="#">Alien</a></li>
                <li><a class="dropdown-menu__link" href="#">Mythological Creature</a></li>
                <li><a class="dropdown-menu__link" href="#">Humanoid</a></li>
                <li><a class="dropdown-menu__link" href="#">Animal</a></li>
                <li><a class="dropdown-menu__link" href="#">Cronenberg</a></li>
                <li><a class="dropdown-menu__link" href="#">Poopybutthole</a></li>
                <li><a class="dropdown-menu__link" href="#">Robot</a></li>
                <li><a class="dropdown-menu__link" href="#">Disease</a></li>
                <li><a class="dropdown-menu__link" href="#">---</a></li>
            </ul>
        </li>
    </ul>
    <li class="gallery-btn dropdown-toggle type">
        <p class="btn-text">Chose type </p>
        <svg class="icon-chevron-down" width="18" height="18" viewBox="0 0 18 18">
            <use href="../img/symbol-defs.svg#icon-chevron-down"></use>
        </svg>
        <ul class="dropdown-content hidden">
            <li><a class="dropdown-menu" href="#">Parasite</a></li>
            <li><a class="dropdown-menu__link" href="#">Human with ant...</a></li>
            <li><a class="dropdown-menu__link" href="#">Superhuman</a></li>
            <li><a class="dropdown-menu__link" href="#">Genetic...</a></li>
            <li><a class="dropdown-menu__link" href="#">Fish person</a></li>
            <li><a class="dropdown-menu__link" href="#">Cromulon</a></li>
            <li><a class="dropdown-menu__link" href="#">---</a></li>
        </ul>
    </li>
    <li class="gallery-btn dropdown-toggle gender">
        <p class="btn-text">Chose gender </p>
        <svg class="icon-chevron-down" width="18" height="18" viewBox="0 0 18 18">
            <use href="../img/symbol-defs.svg#icon-chevron-down"></use>
        </svg>
        <ul class="dropdown-content hidden">
          <li><a class="dropdown-menu" href="#">All</a></li>
          <li><a class="dropdown-menu__link" href="#">Female</a></li>
          <li><a class="dropdown-menu__link" href="#">Male</a></li>
          <li><a class="dropdown-menu__link" href="#">Genderless</a></li>
          <li><a class="dropdown-menu__link" href="#">Unknown</a></li>
          <li><a class="dropdown-menu__link" href="#">---</a></li>
      </ul>
    </li>
</div>
