<section class="hero-gallery">
  <div class="container gallery-container">
    <ul class="dropdown-filter">
      <li class="input-wrapper">
        <p class="text-about">Name</p>
        <form class="gallery-form">
          <input
            placeholder="Enter name"
            class="characters-search input-green"
            type="text"
          /><button type="submit" class="gallery-search-btn">
            <svg class="gallery-search-icon">
              <use href="./img/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Status</p>
        <div class="dropdown-tag" id="status-item">
          <button
            class="dropdown-btn input-white"
            name="status"
            id="status-select"
            data-path="status"
          >
            All<svg class="drop-down-icon">
              <use href="/img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <ul
            class="dropdown-list"
            data-target="status"
            id="status-dropdown-select"
          >
            <li class="drop-down-point" data-value="all">All</li>
            <li class="drop-down-point" data-value="alive">Alive</li>
            <li class="drop-down-point" data-value="dead">Dead</li>
            <li class="drop-down-point" data-value="unknow">Unknow</li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Species</p>
        <div class="dropdown-tag" id="species-item">
          <button
            class="dropdown-btn input-white"
            name="species"
            id="species-select"
            data-path="species"
          >
            All<svg class="drop-down-icon">
              <use href="/img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <ul
            class="dropdown-list"
            data-target="species"
            id="species-dropdown-select"
          >
            <li class="drop-down-point" data-value="all">All</li>
            <li class="drop-down-point" data-value="human">Human</li>
            <li class="drop-down-point" data-value="alien">Alien</li>
            <li class="drop-down-point" data-value="humanoid">Humanoid</li>
            <li class="drop-down-point" data-value="animal">Animal</li>
            <li class="drop-down-point" data-value="robot">Robot</li>
            <li class="drop-down-point" data-value="cronenberg">Cronenberg</li>
            <li class="drop-down-point" data-value="disease">Disease</li>
            <li class="drop-down-point" data-value="poopybutthole">
              Poopybutthole
            </li>
            <li class="drop-down-point" data-value="mythological">
              Mythological creature
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Type</p>
        <div class="dropdown-tag" id="type-item">
          <button
            class="dropdown-btn input-white"
            name="type"
            id="type-select"
            data-path="type"
          >
            All<svg class="drop-down-icon">
              <use href="/img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <ul
            class="dropdown-list"
            data-target="type"
            id="type-dropdown-select"
          >
            <li class="drop-down-point" data-value="all">All</li>
          </ul>
        </div>
      </li>
      <li class="dropdown-item">
        <p class="text-about">Gender</p>
        <div class="dropdown-tag" id="gender-item">
          <button
            class="dropdown-btn input-white"
            name="gender"
            id="gender-select"
            data-path="gender"
          >
            All<svg class="drop-down-icon">
              <use href="/img/symbol-defs.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <ul
            class="dropdown-list"
            data-target="gender"
            id="gender-dropdown-select"
          >
            <li class="drop-down-point" data-value="all">All</li>
            <li class="drop-down-point" data-value="male">Male</li>
            <li class="drop-down-point" data-value="female">Female</li>
            <li class="drop-down-point" data-value="genderless">Genderless</li>
            <li class="drop-down-point" data-value="unknown">Unknown</li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="gallery gallery-cards hero-gallery"></ul>
    <button class="load-more-btn btn-green" type="button">Load More</button>
  </div>
  <div class="oops-list is-hidden">
    <picture>
      <source
        srcset="./img/oops-desktop@1x.png 1x, ./img/oops-desktop@2x.png 2x"
        media="(min-width: 1440px)" />
      <source
        srcset="./img/oops-tablet@1x.png 1x, ./img/oops-tablet@2x.png 2x"
        media="(min-width: 768px)" />
      <source
        srcset="./img/oops-mobile@1x.png 1x, ./img/oops-mobile@2x.png 2x"
        media="(max-width: 767px)" />
      <img class="oops-img" src="./img/oops-desktop@1x.png" alt="oops"
    /></picture>
    <p class="oops-text">Oops! Try looking for something else...</p>
  </div>
</section>
