<section class="hero">
  <div class="container hero-container-character">
    <div class="hero-list">
      <h1 class="hero-title">Characters</h1>
      <p class="hero-text-character">
        Our character bios provide detailed information on every member of the
        Smith family and beyond. Get to know these unforgettable characters on a
        whole new level - start exploring now!
      </p>
      <a class="btn-dark-bg hero-btn-character" href="index.html">Back home</a>
    </div>
    <div class="hero-bg-character">
      <picture class="hero-img-character">
        <source
          srcset="
            ./img/header-hero/hero-characters-desktop@1x.png 1x,
            ./img/header-hero/hero-characters-desktop@2x.png 2x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            ./img/header-hero/hero-characters-tablet@1x.png 1x,
            ./img/header-hero/hero-characters-tablet@2x.png 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./img/header-hero/hero-characters-mobile@1x.png 1x,
            ./img/header-hero/hero-characters-mobile@2x.png 2x
          "
          media="(max-width: 767px)" />
        <img src="./img/header-hero/hero-characters-desktop@1x.png" alt="Morty"
      /></picture>
    </div>
  </div>
</section>
