<section class="hero">
  <div class="container hero-container-character">
    <div class="hero-list">
      <h1 class="hero-title">Episodes</h1>
      <p class="hero-text-episode">
        With a comprehensive guide to every episode, you can relive your
        favorite moments and discover new ones. From the bizarre and hilarious
        to the emotional and thought-provoking, our episode guide covers it all.
      </p>
      <a class="btn-dark-bg hero-btn-character" href="index.html">Back home</a>
    </div>
    <div class="hero-bg-character">
      <picture class="hero-img-character">
        <source
          srcset="
            ./img/header-hero/hero-epis-desktop@1x.png 1x,
            ./img/header-hero/hero-epis-desktop@2x.png 2x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            ./img/header-hero/hero-epis-tablet@1x.png 1x,
            ./img/header-hero/hero-epis-tablet@2x.png 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            ./img/header-hero/hero-epis-mobile@1x.png 1x,
            ./img/header-hero/hero-epis-mobile@2x.png 2x
          "
          media="(max-width: 767px)" />
        <img src="./img/header-hero/hero-epis-desktop@1x.png" alt="Episodes"
      /></picture>
    </div>
  </div>
</section>
