<section class="episodes-gallery"></section>
<div class="container">
  <ul class="episodes-navigation">
    <li class="name-width">
      <p class="name">Name</p>
      <div class="input-border">
        <input type="text" placeholder="Enter name" id="episode-name-input"/>
        <svg class="search-icon">
          <use href="/img/symbol-defs.svg#icon-search"></use>
        </svg>
      </div>
    </li>

    <li class="episode-code-width">
      <p class="name">Episode code</p>

      <div class="allseason-sub-menu">
        <button
          type="button"
          class="all-series-btn"
          id="all-series-btn"
        >
          All season
          <svg class="vector-icon" id="arrow">
            <use href="/img/symbol-defs.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <ul class="dropdown" id="dropdown">
          <li class="all-season">All season</li>
          <li class="seasons" id="1-season">
            1 season
            <ul class="season-menu seasons-gap">
              <li class="series-margin" data-episode="s01e01">1 series</li>
              <li data-episode="s01e02">2 series</li>
              <li data-episode="s01e03">3 series</li>
              <li data-episode="s01e04">4 series</li>
              <li data-episode="s01e05">5 series</li>
              <li data-episode="s01e06">6 series</li>
              <li data-episode="s01e07">7 series</li>
              <li data-episode="s01e08">8 series</li>
              <li data-episode="s01e09">9 series</li>
              <li data-episode="s01e10">10 series</li>
              <li data-episode="s01e11">11 series</li>
            </ul>
          </li>
          <li class="seasons" id="2-season">
            2 season

            <ul class="season-menu seasons-gap">
              <li class="series-margin" data-episode="s02e01">1 series</li>
              <li data-episode="s02e02">2 series</li>
              <li data-episode="s02e03">3 series</li>
              <li data-episode="s02e04">4 series</li>
              <li data-episode="s02e05">5 series</li>
              <li data-episode="s02e06">6 series</li>
              <li data-episode="s02e07">7 series</li>
              <li data-episode="s02e08">8 series</li>
              <li data-episode="s02e09">9 series</li>
              <li data-episode="s02e10">10 series</li>
            </ul>
          </li>
          <li class="seasons" id="3-season">
            3 season

            <ul class="season-menu seasons-gap">
              <li class="series-margin" data-episode="s03e01">1 series</li>
              <li data-episode="s03e02">2 series</li>
              <li data-episode="s03e03">3 series</li>
              <li data-episode="s03e04">4 series</li>
              <li data-episode="s03e05">5 series</li>
              <li data-episode="s03e06">6 series</li>
              <li data-episode="s03e07">7 series</li>
              <li data-episode="s03e08">8 series</li>
              <li data-episode="s03e09">9 series</li>
              <li data-episode="s03e12">10 series</li>
            </ul>
          </li>
          <li class="seasons" id="4-season">
            4 season
            <ul class="season-menu seasons-gap">
              <li class="series-margin" data-episode="s04e01">1 series</li>
              <li data-episode="s04e02">2 series</li>
              <li data-episode="s04e03">3 series</li>
              <li data-episode="s04e04">4 series</li>
              <li data-episode="s04e05">5 series</li>
              <li data-episode="s04e06">6 series</li>
              <li data-episode="s04e07">7 series</li>
              <li data-episode="s04e08">8 series</li>
              <li data-episode="s04e09">9 series</li>
              <li data-episode="s04e10">10 series</li>       
            </ul>
          </li>
          <li class="seasons" id="5-season">
            5 season
            <ul class="season-menu seasons-gap">
              <li class="series-margin" data-episode="s05e01">1 series</li>
              <li data-episode="s05e02">2 series</li>
              <li data-episode="s05e03">3 series</li>
              <li data-episode="s05e04">4 series</li>
              <li data-episode="s05e05">5 series</li>
              <li data-episode="s05e06">6 series</li>
              <li data-episode="s05e07">7 series</li>
              <li data-episode="s05e08">8 series</li>
              <li data-episode="s05e09">9 series</li>
              <li data-episode="s05e10">10 series</li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>


<section class="episodes-gallery">
  <div class="container">
    <ul class="episodes-gallery-list"></ul>
    <button class="btn-load-more" type="button">Load More</button>
  </div>
  <div class="container">
    <div class="oops-list is-hidden" id="oops">
      <picture>
        <source
          srcset="./img/oops-desktop@1x.png 1x, ./img/oops-desktop@2x.png 2x"
          media="(min-width: 1440px)" />
        <source
          srcset="./img/oops-tablet@1x.png 1x, ./img/oops-tablet@2x.png 2x"
          media="(min-width: 768px)" />
        <source
          srcset="./img/oops-mobile@1x.png 1x, ./img/oops-mobile@2x.png 2x"
          media="(max-width: 767px)" />
        <img class="oops-img" src="./img/oops-desktop@1x.png" alt="oops"
      /></picture>
      <p class="oops-text">Oops! Try looking for something else...</p>
    </div>
  </div>
</section>


