<footer id="footer">
  <div class="container footer footer-container">
    <div class="footer-logo">
      <a href="#home" class="link" target="_blank">
        <img
          src="./img/footer-img.svg"
          class="rick-morty"
          alt="Rick and Morty Logo"
        />
        <p class="rick">Rick and</p>
        <p class="morty">Morty</p>
      </a>
    </div>
    <div class="footer-navigation">
      <div class="footer-sections">
        <ul class="list">
          <li class="item">
            <a href="characters.html" class="link">Characters</a>
          </li>
          <li class="item">
            <a href="episodes.html" class="link">Episodes</a>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <ul class="list">
          <li class="item">
            <a href="404.html" class="link" target="_blank">
              <svg class="footer-icon">
                <use href="./img/footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="404.html" class="link" target="_blank">
              <svg class="footer-icon twitter-home">
                <use href="./img/footer.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="404.html" class="link" target="_blank">
              <svg class="footer-icon">
                <use href="./img/footer.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="privacy-policy">Privacy Policy Public Offering Agreement</p>
</footer>
