<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="btn-green header-btn" href="characters.html">Characters</a>
      <a class="btn-dark-bg header-btn" href="episodes.html">Episodes</a>
    </nav>
    <form class="header-form">
      <input
        class="btn-dark-bg header-input header-hero-input"
        type="text"
        placeholder="Search"
      />
      <button class="header-search-btn header-hero-btn" type="submit">
        <svg class="header-icon">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
