<header class="header">
  <a href="https://prnt.sc/TXrqWOFJ4HrP">Main header test</a>
  <div>
    <a href="characters.html" style="color: aqua; margin-right: 200px">
      Characters Page</a
    >
    <a href="episodes.html" style="color: blue"> Episodes Page</a>
  </div>
  <div class="container header-container">
    <ul class="btn-list">
      <li class="btn-green header-btn">
        <a href="#">Characters</a>
      </li>
      <li class="btn-dark-bg header-btn">
        <a href="#">Episodes</a>
      </li>
    </ul>
    <form class="header-form">
      <input
        class="btn-dark-bg header-input header-hero-input"
        type="text"
        placeholder="Search"
      />
      <button class="header-search-btn header-hero" type="submit">
        <svg class="header-icon">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
