<section class="hero-gallery" id="hidden-section">
  <div class="container">
    <ul class="dropdown-filter">
      <li class="dropdown-filter">
        <p>Name</p>
        <input class="hidden-characters-search" type="text" />
      </li>
      <li class="dropdown-item">
        <p>Status</p>
        <select name="status" id="hidden-status-select">
          <option value="all">All</option>
          <option value="alive">Alive</option>
          <option value="dead">Dead</option>
          <option value="unknown">Unknown</option>
        </select>
      </li>
      <li class="dropdown-item">
        <p>Species</p>
        <select name="species" id="hidden-species-select">
          <option value="all">All</option>
          <option value="human">Human</option>
          <option value="alien">Alien</option>
          <option value="humanoid">Humanoid</option>
          <option value="animal">Animal</option>
          <option value="robot">Robot</option>
          <option value="cronenberg">Cronenberg</option>
          <option value="disease">Disease</option>
          <option value="poopybutthole">Poopybutthole</option>
          <option value="mythological">Mythological creature</option>
        </select>
      </li>
      <li class="dropdown-item">
        <p>Type</p>
        <select name="type" id="hidden-type-select">
          <option value="all">All</option>
          <!-- Types from the API should be rendered here -->
        </select>
      </li>
      <li class="dropdown-item">
        <p>Gender</p>
        <select name="gender" id="hidden-gender-select">
          <option value="all">All</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="genderless">Genderless</option>
          <option value="unknown">Unknown</option>
        </select>
      </li>
    </ul>
    <ul class="main-gallery"></ul>
    <button class="load-more-btn" type="button">Load More</button>
  </div>
</section>
