<div class="backdrop-popchar is-hidden">
  <div class="modal-popchar">
    <button type="button" class="popchar-close-btn close-modal-js">
      <svg class="icon-close">
        <use href="/img/icon-close.svg#icon-x"></use>
      </svg>
    </button>
    <img
      class="heroes-episode-img"
      src="placeholder.jpg"
      alt="heroes of episode"
    />

    <ul class="status-list">
      <li class="status-list-top">
        <div class="status-item">
          <span class="status-key">Status:</span>
          <span class="status-value"></span>
        </div>
        <div class="status-item">
          <span class="status-key">Species:</span>
          <span class="status-value"></span>
        </div>
        <div class="status-item">
          <span class="status-key">Gender:</span>
          <span class="status-value"></span>
        </div>
        <div class="status-item">
          <span class="status-key">Origin:</span>
          <span class="status-value"></span>
        </div>
      </li>
      <li class="status-list-buttom">
        <div class="status-item">
          <span class="status-key">Location:</span>
          <span class="status-value"></span>
        </div>
        <div class="status-item episod-item">
          <span class="status-key">Episodes:</span>
          <span class="status-value"></span>
        </div>
        <div class="status-item">
          <span class="status-key">Type:</span>
          <span class="status-value"></span>
        </div>
      </li>
    </ul>

    <h2 class="modal-title">Episodes</h2>
    <ul class="popchar-episodes-list"></ul>
  </div>
</div>
