<div class="section-pop-epis is-hidden">
  <div class="container-pop-epis">
    <button class="close-pop-epis-btn" data-pop-epis-close type="button">
      <svg class="close-pop-icon" width="10" height="10">
        <use href="/img/symbol-defs.svg#icon-pop-epis-modal-close"></use>
      </svg>
    </button>

    <div class="pop-epis-block">
      <h2 class="pop-epis-pilot-title">Pilot</h2>
      <p class="pop-epis-pilot-subskr">Id <span class="pop-epis-id">1</span></p>
      <p class="pop-epis-pilot-subskr">
        Air date <span class="pop-epis-date">December 2, 2013</span>
      </p>

      <h2 class="pop-epis-pilot-title">Characters</h2>
      <p class="pop-epis-tablet-subtitle">Major Characters</p>
      <div class="pop-epis-hero">
      </div>
    </div>
  </div>
</div>