<button type="button" class="open-modal-popchar-js">
  Open Popup char Modal
</button>

<div class="backdrop-popchar is-hidden">
  <div class="modal-popchar">
    <button type="button" class="popchar-close-btn close-modal-js">
      <svg class="icon-close">
        <use href="../img/icon-close.svg#icon-x"></use>
      </svg>
    </button>
    <img class="heroes-episode-img" src="" alt="heroes of episode" />

    <ul class="status-list">
      <li class="status-item">
        <span class="status-key">Status:</span>
        <span class="status-value"></span>
      </li>
      <li class="status-item">
        <span class="status-key">Species:</span>
        <span class="status-value"></span>
      </li>
      <li class="status-item">
        <span class="status-key">Gender:</span>
        <span class="status-value"></span>
      </li>
      <li class="status-item">
        <span class="status-key">Origin:</span>
        <span class="status-value"></span>
      </li>

      <li class="status-item">
        <span class="status-key">Location:</span>
        <span class="status-value"></span>
      </li>
      <li class="status-item">
        <span class="status-key">Type:</span>
        <span class="status-value"></span>
      </li>
    </ul>

    <h2 class="modal-title">Episodes</h2>
    <ul class="popchar-episodes-list"></ul>
  </div>
</div>
