<button type="button" class="open-modal-js">Open Modal</button>

<div class="backdrop-popchar is-hidden">
  <div class="modal-popchar">
    <button type="button" class="popchar-close-btn close-modal-js">
      <svg class="icon-close">
        <use href="../img/icon-close.svg#icon-x"></use>
      </svg>
    </button>
    <img class="heroes-episode-img" src="" alt="heroes of episode" />

    <ul class="status-list">
      <li class="status-item">Status</li>
      <li class="status-item">Species</li>
      <li class="status-item">Type</li>
      <li class="status-item">Gender</li>
      <li class="status-item">Origin</li>
      <li class="status-item">Location</li>
    </ul>

    <h2 class="modal-title">Episodes</h2>
    <ul class="popchar-episodes-list"></ul>
  </div>
</div>
