<section class="section-slider" id="slider">
  <h3 class="slider-name">
    Ready to <span class="slide-name-span">explore</span> the crazy world of
    Rick and Morty?
  </h3>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-1-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-1-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-1-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-1-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-1-slider-mobile@1x-min.png 1x,
              ./img/episodes-1-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-1-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-2-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-2-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-2-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-2-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-2-slider-mobile@1x-min.png 1x,
              ./img/episodes-2-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-2-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-3-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-3-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-3-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-3-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-3-slider-mobile@1x-min.png 1x,
              ./img/episodes-3-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-3-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-4-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-4-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-4-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-4-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-4-slider-mobile@1x-min.png 1x,
              ./img/episodes-4-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-4-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-5-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-5-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-5-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-5-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-5-slider-mobile@1x-min.png 1x,
              ./img/episodes-5-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-5-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-1-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-1-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-1-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-1-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-1-slider-mobile@1x-min.png 1x,
              ./img/episodes-1-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-1-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-2-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-2-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-2-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-2-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-2-slider-mobile@1x-min.png 1x,
              ./img/episodes-2-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-2-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-3-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-3-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-3-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-3-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-3-slider-mobile@1x-min.png 1x,
              ./img/episodes-3-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-3-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-4-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-4-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-4-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-4-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-4-slider-mobile@1x-min.png 1x,
              ./img/episodes-4-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-4-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/episodes-5-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-5-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/episodes-5-slider-tablet-desktop@1x-min.png 1x,
              ./img/episodes-5-slider-tablet-desktop@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/episodes-5-slider-mobile@1x-min.png 1x,
              ./img/episodes-5-slider-mobile@2x-min.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            class="slider-img"
            src="./img/episodes-5-slider-tablet-desktop@1x-min.png"
            alt="episodes"
            width="278"
            height="319"
          />
        </picture>
      </div>

      <!-- If we need scrollbar -->

      <div class="swiper-scrollbar"></div>
    </div>
    <a class="slider-btn" href="episodes.html">Episodes</a>
  </div>
</section>
