<section class="tags" id="tags">
  <div class="container tags-container">
    <div class="tags-wrapper">
      <ul class="tags-list">
        <li class="tags-item black-white first-listed">
          <p class="tags-text bigger-text">the adventures</p>
        </li>

        <li class="tags-item green-black second-listed">
          <p class="tags-text bigger-text">Justin Roiland</p>
        </li>

        <li class="tags-item green-black third-listed">
          <p class="tags-text bigger-text">Amazing!</p>
        </li>
        <li class="tags-item black-white fourth-listed">
          <p class="tags-text bigger-text">Rick and Morty</p>
        </li>

        <li class="tags-item black-yellow fifth-listed">
          <p class="tags-text smaller-text">follows</p>
        </li>

        <li class="tags-item green-black sixth-listed">
          <p class="tags-text smaller-text">Whoa</p>
        </li>
      </ul>

      <div class="tags-item green-black first-abs">
        <p class="tags-text smaller-text">Animated</p>
      </div>

      <div class="tags-absolute-item tags-item yellow-black second-abs">
        <p class="tags-text bigger-text">Sitcom</p>
      </div>
      <div class="tags-absolute-item tags-item black-green third-abs">
        <p class="tags-text bigger-text">superpower</p>
      </div>
      <div class="tags-item yellow-black fourth-abs">
        <p class="tags-text smaller-text">creative</p>
      </div>
      <div class="tags-absolute-item tags-item yellow-black fifth-abs">
        <p class="tags-text bigger-text">comics</p>
      </div>
      <div class="tags-absolute-item tags-item yellow-black sixth-abs">
        <p class="tags-text bigger-text">characters</p>
      </div>
    </div>
  </div>
</section>
