<section class="tags" id="tags">
  <div class="container">
    <ul class="tags-list">
        <li class="tags-item green-black"><p class="tags-text smaller-text">Animated</p></li>
        <li class="tags-item black-white"><p class="tags-text">the adventures</p></li>
        <li class="tags-item yellow-black"><p class="tags-text">Sitcom</p></li>
        <li class="tags-item black-green"><p class="tags-text">superpower</p></li>
        <li class="tags-item green-black"><p class="tags-text">Justin Roiland</p></li>
        <li class="tags-item yellow-black"><p class="tags-text smaller-text">creative</p></li>
        <li class="tags-item green-black"><p class="tags-text">Amazing!</p></li>
        <li class="tags-item black-white"><p class="tags-text">Rick and Morty</p> </li>
        <li class="tags-item yellow-black"><p class="tags-text">comics</p></li>
        <li class="tags-item black-yellow"><p class="tags-text smaller-text">follows</p></li>
        <li class="tags-item yellow-black"><p class="tags-text">characters</p></li>
        <li class="tags-item green-black"><p class="tags-text">Whoa</p></li>
    </ul>

  </div>

</section>