<section class="tags" id="tags">
  <div class="container">
    <ul class="tags-list">
        <li class="tags-item green-black">Animated</li>
        <li class="tags-item black-white">the adventures</li>
        <li class="tags-item yellow-black">Sitcom</li>
        <li class="tags-item black-green">superpower</li>
        <li class="tags-item green-black">Justin Roiland</li>
        <li class="tags-item yellow-black">creative</li>
        <li class="tags-item green-black">Amazing!</li>
        <li class="tags-item black-white">Rick and Morty </li>
        <li class="tags-item yellow-black">comics</li>
        <li class="tags-item black-yellow">follows</li>
        <li class="tags-item yellow-black">characters</li>
        <li class="tags-item green-black">Whoa</li>
    </ul>

  </div>

</section>