:root {


}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** Resets */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul, li {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

button {
  cursor: pointer;
  font: inherit;
}

.hidden {
    display: none;
}


.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: red;
}

h1{
  font-style: italic;
  font-size: 30px;
}

#icon-search {   
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

#icon-chevron-down {
    display: inline-block;
    width: 9px;
    height: 4.5px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/**------------ Mobile version--------------- */
.search__btns {
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 1008px;
}

.gallery-search__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 185px;
  width: 285px;
  min-width: 235px;
  height: 46px;
  margin-right: 20px;
  margin-left: 20px;
  
  background: #DAF836;
  border: 1.5px solid #111111;
  border-radius: 100px; 
}

input:placeholder-shown {
  margin-left: 10px;
  min-width: 17px;
  height: 18px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #111111;
}

.gallery-btns-flex-wrap {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  /* flex-wrap: nowrap; */
}

.dropdown-toggle {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 16px 24px;
  gap: 63px;

  min-width: 163px;
  height: 46px;

  border: 1.5px solid #111111;
  border-radius: 100px;
}

.button .chose-type-btn,
.button .chose-gender-btn
{
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* .dropdown-toggle { */
  /* display: inline-block; */
  /* padding: 10px 20px; */
  /* color: #111; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
  /* font-size: 14px; */
  /* transition: background-color ease-in-out 0.3s; */
/* } */
/* .dropdown-toggle:hover { */
  /* background-color: #004cce; */
/* } */
.dropdown-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  top: 100%;
  left: 0;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
  min-width: 100%;
  padding: 10px 0;
}
.dropdown-menu--active {
  opacity: 1;
  visibility: visible;
}
.dropdown-menu__link {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
}
.dropdown-menu__link--active {
  background-color:  rgba(0, 0, 0, 0.15);
}
.dropdown-menu__link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 63px;
  border: 1.5px solid #111111;
  border-radius: 100px;
}

.dropdown-toggle.status {
  min-width: 163px;
  height: 46px;
}

.dropdown-toggle.species {
  min-width: 182px;
  height: 46px;
}

.dropdown-toggle.chose-type {
  display: none;
}

.dropdown-toggle.chose-gender {
  width: 182px;
  height: 46px;
}

.dropdown-content {
  box-sizing: border-box;

  position: absolute;
  min-width: 163px;
  min-height: 84px;

  background: #FAFAFA;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #111111;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  color: #111111;
  padding: 14px 24px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


/**---------------------Tablet version---------------------*/

/* .search-form { */
  /* gap: 108px; */
  /*  */
  /* width: 269px; */
  /* height: 50px; */
/* } */

/* .search__btns { */
  /* display: flex; */
  display: none;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* padding: 0px; */
  /* gap: 16px; */
/*  */
  /* position: absolute; */
  /* width: 1008px; */
/* } */

/* .filter-btn { */
  /* gap: 73px; */
/*  */
  /* min-width: 178px; */
  /* height: 50px; */
/* } */
/*  */
/* .button .chose-type-btn, */
/* .button .chose-gender-btn */
/* { */
  /* display: block; */
/* } */

/*.dropdown-content {
  min-width: 178px;
  min-height: 102px;
}

/** Desktop version */
.search-form {
  gap: 72px;
  
  width: 233px;
  height: 50px;
  
  background: #DAF836;
  border: 1.5px solid #111111;
  border-radius: 100px;  
}

.filter-btn {
  gap: 60px;

  min-width: 165px;
  height: 50px;
}

input:placeholder-shown {
  min-width: 84px;
}


.load-more {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;
    width: 126px;
    height: 42px;
    left: 663px;
    top: 3432px;

    background: #A1D737;
    border-radius: 1000px;
}

.search__form {
  justify-content: flex-start;
}

/* .dropdown */
/* button.dropdown-toggle  */
/*  */
/* ul #myDropdown .dropdown-content */
    /* li .dropdown-menu Human */
    /* li .dropdown-menu__link Alien */
    /* li .dropdown-menu__link Mythological Creature */
    /* li .dropdown-menu__link Humanoid */
    /* li .dropdown-menu__link Animal */
    /* li .dropdown-menu__link Cronenberg */
    /* li .dropdown-menu__link Poopybutthole */
    /* li .dropdown-menu__link Robot */
    /* li .dropdown-menu__link Disease */
    /* li .dropdown-menu__link --- */