.container {
  margin: 0;
  padding: 0;

}

.hero-gallery {
  padding-top: 40px;
  padding-bottom: 80px;
}
.characters-search::placeholder {
  color: var(--first-text-color-dark);
}
.input-green {
  padding: 14px 24px;
  max-width: 355px;
  border: 1.5px solid var(--first-text-color-dark);
  border-radius: 100px;
  background-color: var(--second-color-accent);
}

.dropdown-item {
  overflow: auto;
}
/* .dropdown-item.input-white:odd { */
  /* margin-right: 10px; */
/* } */
.dropdown-filter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.dropdown-item:nth-child(-n + 2) {
  margin-bottom: 20px;
}
.characters-search {
  width: calc(100vw - 40px);
}
.dropdown-item.input-white {
  width: calc((100vw - 40px - 10px) / 2);
  gap: 10px;
}
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 44px;
  gap: 10px 10px;
  
}

img.card-img {
  display: block;
  width: 100%;
  height: auto;
  gap: 10px;
}

.card-info p.card-name {
  width: 100%;
  height: 18px;
  margin-top: 14px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #111111;
}

.card-info p.card-origin-title,
.card-info p.card-location-title {
  width: 100%;
  height: 18px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: rgba(17, 17, 17, 0.5);
}

.load-more-btn {
  border: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .characters-search {
    max-width: 290px;
    height: 54px;
  }

  .dropdown-filter {
    gap: 20px;
  }

  #status-select {
    width: 190px;
  }
  #species-select {
    width: 190px;
  }
  #type-select {
    width: 175px;
  }
  #gender-select {
    width: 167px;
  }
  .dropdown-filter {
    margin-top: 0;
  }
  .dropdown-item:not(:last-child) {
    margin-right: 16px;
  }
  .dropdown-item:nth-child(3n) {
    margin-right: 0px;
  }
  .text-about {
    font-size: 14px;
    line-height: 1.29;
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 16px;
  }

  img.card-img {
    display: flex;
    justify-content: center;
    width: calc((100vw - 40px - 10px) / 2);
    height: auto;
    gap: 10px 24px;
  }
}

.gallery.gallery-cards.hero-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 44px;
  gap: 32px;
}

@media screen and (min-width: 1440px) {
  .dropdown-filter {
    justify-content: center;
    align-items: flex-start;
  }
  .dropdown-item:nth-child(3n) {
    margin-right: 16px;
  }

  .gallery-card img.card-img {
    box-sizing: border-box;
    width: 278px;
    height: 314px;

    background: #0D171D;
    border: 2px solid #A1D737;
    border-radius: 18px;
  }

  .gallery.gallery-cards.hero-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 44px;
    gap: 32px;
  }
}


