.episodes-navigation {
  margin-top: 120px;
  width: 100%;
  max-width: 335px;
}

.name {
  margin-bottom: 8px;
}

input {
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  background: var(--second-color-accent);
  border: 1.5px solid #111111;
  border-radius: 100px;
}

::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  color: #111111;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  opacity: 1;
}

.input-btn {
  position: absolute;
}

.input-border {
  margin-bottom: 20px;
  position: relative;
}

.allseason-bar {
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;

  width: 100%;
  max-width: 335px;
  background: white;
  border: 1.5px solid #111111;
  border-radius: 100px;
}

.season-menu {
  display: none;
  
  margin-top: 11px;
}



.all-series-btn {
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  cursor: pointer;
  
}

.dropdown {
  position: absolute;
  width: 335px;
  background: #FAFAFA;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 0.3rem;
  
  border: none;
  z-index: 1;

  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  
}

.dropdown li {
  /* display: flex;
  align-items: center;
  column-gap: 10px; */
  padding: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dropdown .seasons:hover
 {
  
  color: #A1D737;
}


.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.seasons {

  margin-bottom: 8px;
}



.seasons-gap li {
  margin-top: 11px;
  
  color: rgba(17, 17, 17, 0.3);
  padding-left: 24px;
}

.seasons-gap li:hover {
  color: #A1D737;
}

.vector-icon {
  width: 18px;
  height: 18px;
  stroke: #111111;
  position: absolute;
  right: 24px;
}

.search-icon {
  width: 18px;
  height: 18px;
  stroke: #111111;
  position: absolute;
  right: 24px;
  top: 14px
}








.episodes-item {
  width: 335px;
  height: 250px;

  background: var(--background-color-dark);
  border: 2px solid var(--first-color-accent);
  border-radius: 18px;
  position: relative;
  cursor: pointer;
}

.episodes-item-photo {
  border-radius: 18px;
  width: auto;
  height: 100%;
}

.episodes-item-name {
  line-height: 1.12;
  color: var(--first-color-accent);
  font-size: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 224px;
}

.episodes-item-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 17px;
}

.episodes-item-info-name {
  width: auto;
  height: 14px;
  display: inline-block;

  font-size: 12px;
  line-height: 1.17;

  color: var(--second-text-color-lighr);
  margin-bottom: 4px;
}

.episodes-item-info-data {
  font-size: 14px;
  line-height: 1.29;

  display: flex;
  align-items: center;

  color: var(--background-color-light);
}

.btn-load-more {
  width: 126px;
  height: 42px;
  background: var(--first-color-accent);
  border-radius: 1000px;
  border: 0;
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
}

.episodes-gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

  justify-content: center;

  margin: 25px auto 40px;
  width: 335px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .episodes-gallery-list {
    gap: 32px;
    width: 100%;
  }
  .episodes-item {
    width: 336px;
    height: 250px;
  }
  .episodes-gallery-list {
    margin-bottom: 64px;
    justify-content: left;
  }
  .btn-load-more {
    margin-bottom: 128px;
  }
}

@media screen and (min-width: 1440px) {
  .episodes-gallery-list {
    column-gap: 16px;
    row-gap: 32px;
    justify-content: left;
  }

  .episodes-item {
    width: 284px;
    height: 200px;
  }
}
