footer {
  background-color: var(--background-color-light);
}

.item .link {
  transition: color var(--transition-dur-and-func);
  transition: fill var(--transition-dur-and-func);
}
.item .link:hover,
.item .link:focus {
  color: var(--first-color-accent);
  fill: var(--first-color-accent);
}
.twitter-home {
  stroke: var(--first-color-accent);
}
.twitter-home:hover,
.twitter-home:focus {
  stroke: var(--first-color-accent);
}
.footer-container {
  padding: 40px 20px 80px;
}

.footer-logo {
  position: relative;
  width: 149px;
  height: 107px;
}

.footer-logo .rick {
  position: absolute;
  width: 120px;
  height: 46px;
  left: 1px;
  top: 54.5px;

  border-radius: 25px;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;

  background: var(--background-color-dark);
  color: var(--background-color-light);
}
.footer-logo .morty {
  position: absolute;
  width: 97px;
  height: 42px;
  left: 54.87px;
  top: 16px;
  z-index: 2;

  border-radius: 25px;
  transform: matrix(0.85, 0.53, -0.53, 0.85, 0, 0);
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;

  background: var(--second-color-accent);
  color: var(--border-color-dark);
}

.footer-sections {
  margin-bottom: 20px;
}

.footer-sections .item {
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.footer-sections .item:last-child {
  margin-bottom: 0;
}

.footer-navigation {
  margin-left: auto;
}

.footer-social .list {
  display: flex;
  gap: 12px;
}

.footer-social .item {
  display: flex;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 8px;
}

.footer-social .link {
  padding: 11px;
}

.footer-social .footer-icon {
  display: block;
  width: 18px;
  height: 18px;
}
.twitter-home {
  stroke: var(--second-text-color-dark);
}

.privacy-policy:last-child {
  padding-bottom: 16px;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.4);
}

@media screen and (max-width: 374px) {
  footer {
    max-width: 374px;
    margin: 0 auto;
  }

  .footer-logo {
    margin: 0 auto;
  }
  .footer-navigation {
    text-align: center;
    margin-top: 20px;
  }
  .footer-social {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 375px) {
  footer {
    max-width: 375px;
    margin: 0 auto;
  }

  .footer-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  footer {
    max-width: 768px;
    margin: 0 auto;
  }

  .rick-morty {
    position: absolute;
    left: 25px;
    top: -28px;
    width: 99px;
    height: 84px;
  }

  .footer-container {
    display: flex;
    padding: 64px 32px 128px;
  }

  .footer-logo {
    width: 225px;
    height: 107px;
  }

  .footer-logo .rick {
    display: flex;
    justify-content: center;
    width: 153px;
    height: 49px;
    left: 0px;
    top: 55px;

    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.44px;
  }

  .footer-logo .morty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 49px;
    left: 98px;
    top: 30px;
    z-index: 2;

    transform: matrix(0.85, 0.53, -0.53, 0.85, 0, 0);
    font-size: 21px;
    line-height: 1.05;
    letter-spacing: 0.44px;
  }

  .footer-navigation {
    display: flex;
    align-items: center;
    padding: 27.5px 0;
    gap: 78px;
  }

  .footer-sections {
    margin-bottom: 0;
  }

  .footer-sections .item:first-child {
    margin-bottom: 16px;
  }

  .footer-social .list {
    gap: 24px;
  }

  .footer-social .item {
    border-radius: 12px;
  }

  .footer-social .link {
    padding: 14px;
  }

  .footer-social .footer-icon {
    width: 28px;
    height: 28px;
  }

  .privacy-policy:last-child {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 128px;
    padding-right: 128px;
  }

  footer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .footer-logo {
    margin-right: 311px;
  }

  .footer-container {
    display: flex;
  }

  .footer-navigation {
    display: flex;
    align-items: center;
    padding: 27.5px 0;
    margin-left: auto;
    gap: 0;
  }
  .footer-sections {
    width: 144px;
  }
  .footer-social {
    margin-left: 252px;
  }
  .footer-social .list {
    gap: 32px;
  }
}
