.header-nav {
  display: flex;
  align-items: center;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background-color-dark);
}

.header-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.header-form {
  display: flex;
  position: relative;
  margin-left: auto;
}
.header-input {
  max-width: 114px;
  padding-left: 43px;
  transition: max-width var(--transition-dur-and-func);
}
.header-input:focus {
  max-width: 150px;
}
.header-input::placeholder {
  font-weight: 600;
  color: var(--first-text-color-light);
}
.header-icon {
  width: 16px;
  height: 16px;
  fill: var(--first-text-color-light);
  stroke: var(--first-text-color-light);
  transition: stroke var(--transition-dur-and-func),
    width var(--transition-dur-and-func), height var(--transition-dur-and-func);
}
.header-icon:hover,
.header-icon:focus {
  stroke: var(--first-color-accent);
  width: 20px;
  height: 20px;
}
.header-search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 18px;
  top: 52%;
  transform: translate(0, -48%);
}

@media screen and (max-width: 350px) {
  /* .header-hero-btn {
    display: none;
  } */
  /* .header-input {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 78px;
  } */
  .header-input:focus {
    max-width: 114px;
  }
  .header-btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    min-width: 768px;
  }
  .header-input {
    min-width: 124px;
    padding-left: 50px;
  }
  .header-input:focus {
    max-width: 200px;
  }
  .header-search-btn {
    left: 24px;
  }
  .header-icon {
    width: 18px;
    height: 18px;
  }
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
  }
}
