/* ---------Mobile main-characters--------- */
.main-container {
  padding-top: 151px;
  padding-bottom: 80px;
}
.main-characters-item {
  width: 100%;
  cursor: pointer;
}
.img-component {
  margin-bottom: 32px;
  border-radius: 25px;
}

.img-hidden {
  display: none;
}
.img-shown {
  display: block;
}

.main-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.first-part-title {
  text-align: center;
  width: 100px;
  height: 44px;
  border-radius: 44px;
  line-height: 44px;
  background-color: #111111;
  color: #ffffff;
}

.main-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  color: #111111;
  margin-bottom: 14px;
  transition: color var(--transition-dur-and-func);
}
.main-characters-item:not(:first-child) {
  padding-top: 40px;
}
.main-link:hover .main-subtitle {
  color: #a1d737;
}
.rick-subtitle {
  margin-top: 0;
}
.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #111111;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  padding-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .main-characters-item {
    width: 335px;
  }
  .img-component {
    width: auto;
  }
}
/* ---------------Tablet------------------------- */
@media screen and (min-width: 768px) {
  .img-component {
    width: 704px;
    height: 704px;
  }
  .main-characters-item {
    width: 100%;
  }
  .main-container {
    padding-top: 237px;
    padding-bottom: 128px;
  }

  .main-title {
    font-size: 44px;
    line-height: 1;
    margin-bottom: 64px;
  }
  .first-part-title {
    width: 145px;
  }
  .main-subtitle {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .main-characters-item:not(:first-child) {
    padding-top: 32px;
  }
  .main-text {
    font-size: 16px;
    line-height: 1.12;
  }
}
/* ---------Desktop------- */

@media screen and (min-width: 1440px) {
  .main-container {
    padding-top: 255px;
  }
  .main-img-hidden-list {
    height: 544px;
    margin-right: 32px;
  }
  .img-component {
    max-width: 504px;
    height: 544px;
    margin-bottom: 0;
  }

  .main-characters-wrapper {
    display: flex;
    align-items: center;
  }

  .main-subtitle {
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
  }
}
