.tags-container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.tags-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tags-list {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 88.8px;
}
.tags-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 45px;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  white-space: nowrap;
}

.tags-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 1.05;
  font-weight: 600;
  line-height: 1.01;
  letter-spacing: 0.2px;
  text-align: center;
}

.smaller-text {
  font-size: 20px;
  line-height: 1.1;
}

.green-black {
  background-color: #a1d737;
  color: #111111;
}

.black-white {
  background-color: #111111;
  color: #ffffff;
}

.yellow-black {
  background-color: #daf836;
  color: #111111;
}

.black-green {
  background-color: #0d171d;
  color: #a1d737;
}

.black-yellow {
  background-color: #0d171d;
  color: #daf836;
}

.first-listed {
  margin-right: 36px;
  margin-left: 16px;
}
.second-listed {
  margin-right: 177px;
}
.third-listed {
  margin-right: 3px;
  transform: rotate(180deg);
}
.fourth-listed {
  margin-right: 39px;
}

.fifth-listed {
  margin-right: 123px;
  transform: rotate(180deg);
}

.sixth-listed {
  transform: rotate(180deg);
}

.first-abs {
  position: absolute;
  top: 37px;
  left: 73px;
  height: 50px;
}

.second-abs {
  position: absolute;
  top: 5px;
  left: 169px;
  height: 50px;
  transform: matrix(0.86, 0.52, -0.52, 0.85, 0, 0);
}

.third-abs {
  position: absolute;
  top: 55px;
  left: 377px;
  height: 50px;
  transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
}

.fourth-abs {
  position: absolute;
  top: 55px;
  left: 577px;
  height: 50px;
  transform: matrix(-0.67, 0.74, -0.74, -0.67, 0, 0);
}

.fifth-abs {
  position: absolute;
  top: 67px;
  left: 920px;
  height: 50px;
  transform: matrix(0.82, 0.57, -0.57, 0.82, 0, 0);
}

.sixth-abs {
  position: absolute;
  z-index: -1;
  top: 47px;
  left: 1206px;
  height: 50px;
  transform: matrix(-0.86, 0.52, -0.52, -0.86, 0, 0);
}
