.tags-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  overflow-x: clip;
  position: relative;
}

.tags-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.tags-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 45px;
  padding: 0;
}
.tags-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 25px;
  white-space: nowrap;
}

.tags-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.44px;
}

.bigger-text {
  font-size: 21px;
  line-height: 1.05;
}

.smaller-text {
  font-size: 20px;
  line-height: 1.1;
}

.green-black {
  background-color: #a1d737;
  color: #111111;
}

.black-white {
  background-color: #111111;
  color: #ffffff;
}

.yellow-black {
  background-color: #daf836;
  color: #111111;
}

.black-green {
  background-color: #0d171d;
  color: #a1d737;
}

.black-yellow {
  background-color: #0d171d;
  color: #daf836;
}

.first-listed {
  margin-left: 16px;
  margin-right: 36px;
  padding: 14px 24px;
}

.second-listed {
  margin-right: 178px;
  padding: 14px 24px;
}

.third-listed {
  margin-right: 4px;
  padding: 14px 23px;
  transform: rotate(180deg);
}

.fourth-listed {
  margin-right: 39px;
  padding: 14px 22px;
}

.fifth-listed {
  margin-right: 123px;
  padding: 14px 24px;
  transform: rotate(180deg);
}

.sixth-listed {
  padding: 14px 23px;
  transform: rotate(180deg);
}

.first-abs {
  padding: 14px 24px;
  position: absolute;
  top: -6px;
  left: 73px;
}

.second-abs {
  padding: 14px 24px;
  position: absolute;
  transform: matrix(0.86, 0.52, -0.52, 0.85, 0, 0);
  top: -33px;
  left: 166px;
}

.third-abs {
  padding: 14px 24px;
  position: absolute;
  transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
  top: 18.5px;
  left: 375px;
}

.fourth-abs {
  padding: 14px 24px;
  position: absolute;
  transform: matrix(-0.67, 0.74, -0.74, -0.67, 0, 0);
  top: 18.5px;
  left: 581px;
}

.fifth-abs {
  padding: 14px 24px;
  position: absolute;
  transform: matrix(0.82, 0.57, -0.57, 0.82, 0, 0);
  top: 10px;
  left: 917px;
}

.sixth-abs {
  padding: 14px 22px;
  position: absolute;
  transform: matrix(-0.86, 0.52, -0.52, -0.86, 0, 0);
  top: 20.5px;
  left: 1205px;
  z-index: -2;
}

@media screen and (max-width: 376px) {
  /* start */

  .tags-list {
    margin-top: 22px;
  }

  .bigger-text {
    font-size: 16px;
    line-height: 1.12;
  }

  .smaller-text {
    font-size: 16px;
    line-height: 1.12;
  }

  .third-listed {
    margin-left: -21px;
  }

  .fourth-listed {
    margin-right: 16px;
  }

  .third-abs {
    top: -13px;
    left: 353px;
  }

  .fourth-abs {
    top: -15px;
    left: 490px;
  }

  .fifth-abs {
    top: -21px;
    left: 745px;
  }
  /* end */
}

@media screen and (min-width: 768px) {
  .tags-container {
    width: 100vw;
    max-width: 100vw;
  }
}
