.tags-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  overflow-x: clip;
  position: relative;
}

.tags-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.tags-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 45px;
}
.tags-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 50px;
  border-radius: 25px;
  padding: 14px 26px;
  letter-spacing: 0.44px;
  letter-spacing: 0.44px;

  white-space: nowrap;
}

.tags-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 22px;
  font-weight: 600;
  line-height: 1.06;
  letter-spacing: 0.2px;
  text-align: center;
}

.green-black {
  background-color: #a1d737;
  color: #111111;
}

.black-white {
  background-color: #111111;
  color: #ffffff;
}

.yellow-black {
  background-color: #daf836;
  color: #111111;
}

.black-green {
  background-color: #0d171d;
  color: #a1d737;
}

.black-yellow {
  background-color: #0d171d;
  color: #daf836;
}

.first-listed {
  margin-left: 16px;
  margin-right: 36px;
}

.second-listed {
  margin-right: 178px;
}

.third-listed {
  margin-right: 4px;
}

.fourth-listed {
  margin-right: 39px;
}

.fifth-listed {
  margin-right: 123px;
}

.first-abs {
  position: absolute;
  top: -29px;
  left: 50px;
}
